@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.random_video_container {
  position: relative;
}

.iframe_wrapper {
  width: 560px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.random_video_iframe {
  border-radius: 10px;
}

.get_random_video_btn {
  width: 2.3em;
  position: absolute;
  top: -22%;
  right: 0;
  cursor: pointer;
}

.get_random_video_btn:hover {
  animation: rotate 1s linear infinite;
}
