* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*10px*/
  scroll-behavior: smooth;
}

body {
  background: #fff;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

p {
  margin: 0;
}
