.faq-box-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  height: 380px;
}

.faq-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 260px;
}

.faq-item {
  background-color: rgba(210, 218, 255, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #B1B2FF;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  width: 285px;
}

.faq-item h2 {
  color: #B1B2FF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-icon {
  font-size: 200px;
  display: flex;
  flex-direction: column;
}

.faq-count {
  background: #ff0000;
  color: white;
  border-radius: 100px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-self: end;
  align-items: center;
  width: 48px;
  height: 28px;
}

.faq-view-more {
  font-size: 16px;
  color: #B1B2FF;
  text-decoration: none;
  align-self: end;
}
.faq-view-more:hover{
    color:#B1B2FF;
}

.faq-icon .fa-envelope{
  color: #AAC4FF;
}

.faq-icon .fa-envelope:hover{
  color: #B1B2FF;
}


.faq-notice-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  width: 250px;
}

.teacher-notice-content{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.teacher-notice {
  position: relative;
  height: 50px;
  width: 250px;
  border: 3px solid #AAC4FF;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  background-color: white;
}

.teacher-notice a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  color: black;
  position: absolute;
  width: 100%;
}

.teacher-notice a:hover {
  cursor: pointer;
}

.teacher-manager-notice-state{
  border: 1px solid #D2DAFF;
  background-color: #EEF1FF;
  border-radius: 20px;
  font-size: 15px;
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacher-manager-notice-date{
  font-size: 10px;
  color: black;
}