.login-email-container {
  width: 450px;
  padding: 40px;
  border: 5px solid #5c8d89;
  border-radius: 30px;
  background-color: #f4f9f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-email-title {
  color: #4caf50;
  margin-bottom: 20px;
}

.login-email-subtitle {
  color: #74b49b;
  margin-bottom: 30px;
}

.login-email-input-group {
  margin-bottom: 30px;
  text-align: left;
}

.login-email-label {
  color: #74b49b;
  margin-bottom: 5px;
  display: block;
}

.login-email-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.login-email-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid #5c8d89;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-email-verify-button {
  position: absolute;
  right: 10px;
  height: 40px;
  padding: 10px 20px;
  border: 2px solid #5c8d89;
  border-radius: 20px;
  background-color: #a7d7c5;
  color: #000000;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-email-verify-button:hover {
  background-color: #5c8d89;
  color: #ffffff;
  border: 2px solid #a7d7c5;
}

.login-email-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-email-next-button,
.login-email-prev-button {
  font-size:16px;
  width: 48%;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #a7d7c5;
  border: 5px solid #74b49b;
  color: #000000;
}

.login-email-next-button:hover,
.login-email-prev-button:hover {
  background: #5c8d89;
  border: 5px solid #a7d7c5;
}
