.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_content {
  background-color: #fefefe;
  width: 700px;
  height: 900px;
  margin: 5% auto;
  border: 1px solid #888;
  padding: 20px 30px;
}

.close {
  color: #5c8d89;
  text-align: right;
  font-size: 36px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_title {
  text-align: center;
  font-size: 48px;
}

.modal_form_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 32px;
  justify-content: space-around;
}

.modal_content_tag,
.modal_name_tag,
.modal_file_tag {
  font-size: 28px;
  margin-bottom: 15px;
}

.modal_input_title {
  width: 100%;
  border-radius: 20px;
  height: 60px;
  border: 2px solid #74b49b;
  margin-bottom: 15px;
}

.modal_input_content {
  width: 100%;
  border-radius: 20px;
  height: 180px;
  border: 2px solid #74b49b;
  margin-bottom: 10px;
}

.modal_file_label {
  width: 100%;
  margin-bottom: 10px;
}

.modal_file_input_wrapper {
  display: flex;
  align-items: center;
}

.modal_input_file_display {
  flex: 1;
  padding: 8px 16px;
  border: 2px solid #74b49b;
  border-radius: 20px;
  height: 60px;
  margin-right: 15px;
  font-size: 20px;
}

.modal_file_button {
  position: relative;
  display: inline-block;
  padding: 20px;
  border: 2px solid #74b49b;
  border-radius: 10px;
  background-color: rgba(210, 218, 255, 0.25);
  cursor: pointer;
  height: 60px;
  line-height: 20px;
  font-size: 16px;
}

.modal_file_button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.modal_submit_button_box {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.modal_submit_button {
  width: 150px;
  height: 60px;
  border: 2px solid #5c8d89;
  border-radius: 15px;
  color: white;
  background-color: #5c8d89;
  font-size: 20px;
}

.modal_cancel_button {
  width: 150px;
  height: 60px;
  border: 2px solid #74b49b;
  border-radius: 15px;
  color: #5c8d89;
  background-color: rgba(210, 218, 255, 0.25);
  font-size: 20px;
}

.modal_submit_button:hover,
.modal_cancel_button:hover {
  background-color: #5c8d89c1;
  color: white;
}
