.calendar-container {
  border: 1px solid #757575;
  background-color: #E8E8E9;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 40px;
}

.calendar {
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  margin: 0 20px 0 20px; /*양옆 margin값 설정*/
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /*1열에 7개씩*/
  padding: 20px;
  column-gap: 0px;
}

.day {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #eee;
  position: relative;
  min-width: 60px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
}

.day:hover {
  background-color: #B4B4B8;
}

.day.selected {
  background-color: #B4B4B8;
}

.other-month {
  color: #ccc;
}

.events-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  position: relative;
}

.event-bar {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-title {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.calendar-event-form-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-event-form-edit input[type="text"] {
  border-radius: 20px;
  border: 1px solid #757575;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

.calendar-event-form-edit label {
  width: 50%;
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
  color: #757575;
}

.calendar-event-form-edit .date-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

}

.calendar-event-form-edit .date-input-container label{
    width: 80%;
    padding: 10px;
    font-size: 16px;

}
.calendar-event-form-edit .date-input-container input {
  border-radius:20px;
  border:1px solid #757575;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom:10px;
}

.calendar-event-form-edit button {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  cursor: pointer;
  background-color: #5C8D89;
  color: white;
  border: none;
  border-radius: 5px;
}

.color-picker {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  gap: 50px;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.color-option.selected {
  border: 2px solid black;
}

.events-list {
  width: 30%;
  padding: 20px;
  border-left: 5px solid #eee;
  max-height: 600px;
  overflow-y: auto;
}

.event-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.add-list {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px;
}

.add-list button {
  font-size: 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.add-list button:hover {
  background-color: #B4B4B8;
}

.calendar-submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.calendar-submit button {
  font-size: 18px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  width: 300px;
}

.calendar-submit button:hover {
  background-color: #B4B4B8;
}

.calendar-modal-add {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.day .day-number {
  display: block;
  text-align: center;
  position: absolute;
  right: 10px;
}

.day.current-date .day-number {
  background-color: #757575;
  color: white;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 10px;
}

.modal-add {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.holiday {
  color: #FF0000;
}

.weekend {
  color: #FF0000;
}
