.calendar-detail-container {
  border: 1px solid #757575;
  background-color: #E8E8E9;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
}

.calendar-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-detail-header button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #757575;
}

.calendar-detail-content {
  font-size: 16px;
}

.event-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.calendar-detail-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.calendar-detail-actions button {
  font-size: 18px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.calendar-detail-actions button:hover {
  background-color: #B4B4B8;
}
