.detail-calendar-detail-page {
  display: flex;
}

.detail-calendar-detail-sidebar {
  flex: 1;
}

.detail-calendar-detail-container {
  width: 400px;
  padding: 20px;
  background-color: #E8E8E9;
  border:1px solid #757575;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-calendar-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detail-calendar-detail-header h2 {
  margin: 0;
}

.detail-calendar-detail-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #757575;
}

.detail-calendar-detail-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-event-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-event-title-container {
  display: flex;
  align-items: center;
}

.detail-event-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.detail-event-title {
  font-size: 18px;
  font-weight: bold;
  cursor:pointer;
}

.detail-event-title-input,
.detail-event-date-input,
.detail-event-content-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.detail-event-dates p {
  margin: 0;
}

.detail-event-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail-event-actions-edit {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  gap: 10px;
}
.detail-event-actions-edit button{
  background: none;
  border: none;
  cursor: pointer;
}
.detail-event-actions button {
  background: none;
  border: none;
  cursor: pointer;
}

.detail-all-events ul {
  list-style: none;
  padding: 0;
}

.detail-all-events li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.detail-all-events .detail-event-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.detail-all-events .detail-event-title {
  flex-grow: 1;
}

.detail-all-events .detail-event-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
