.curriculum-detail {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.curriculum-info, .edit-group {
  margin-bottom: 15px;
}

.info-group, .edit-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: bold;
}

.color-input-select {
  cursor: pointer;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.update-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #45a049;
}
