.sideBar_container {
  display: flex;
}

.sideBar_content {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 10rem;
  gap: 50px;
}

.sideBar_date_box {
  margin: 0 auto;
}

.sideBar_date {
  width: 220px;
  height: 50px;
  background: var(--managerMainColor), var(--mainOpacity);
  border-radius: 1rem;
  border: 1px solid var(--managerMainColor);
  font-size: 2.4rem;
  padding: 1rem 2rem;
}

.sideBar_link {
  width: 240px;
  margin: 0 auto;
}

.sideBar_menu {
  margin: 0 auto;
  padding: 0 20px;
}

.sideBar_menu li {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 5rem;
  font-size: 2.4rem;
  color: var(--managerMainColor);
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
  list-style-type: none;
}

.sideBar_menu li:hover,
.sideBar_menu li .sideBar_link.active {
  color: #000;
  font-weight: 700;
}

.sideBar_dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 2.4rem;
  color: var(--managerMainColor);
  padding: 1rem 0;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.sideBar_dropdownHeader:hover,
.sideBar_dropdownHeader.active {
  color: #000;
  font-weight: 700;
}

.sideBar_dropdownArrow {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sideBar_dropdownArrow.open {
  transform: rotate(180deg);
}

.sideBar_subMenu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.sideBar_subMenu.open {
  max-height: 100px;
}

.sideBar_subMenu li {
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--managerMainColor);
  padding: 5px 0;
}

.sideBar_subMenu li:hover,
.sideBar_subMenu li .sideBar_link.active {
  color: #000;
  font-weight: 700;
}

.sideBar_link {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.sideBar_line {
  border: 1px solid #dddddd;
}