.sidebar_container {
  display: flex;
}

.sidebar_content {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
}

.sidebar_link {
  width: 200px;
  margin: 0 auto;
}

.date-container {
  margin: 0 auto;
}

.date {
  background: #F4F5F7;
  border-radius: 10px;
  border: 1px solid #757575;
  font-size: 24px;
  padding: 5px;
}

.menu {
  list-style-type: none;
  margin: 0 auto;
}

.menu li {
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  padding: 10px 10px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  color: #000;
}

.dropdown .dropdown-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.dropdown-arrow {
  font-size: 12px;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.submenu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.open {
  max-height: 100px;
}

.submenu li {
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #777;
  padding: 5px 0;
}

.submenu li:hover {
  color: #000;
}

.sidebar_link .menu .sidebar-link {
  text-decoration: none;
  color: inherit;
}

.sidebar .menu .sidebar-link:hover {
  color: #000;
}

.sidebar_line {
  border: 1px solid #dddddd;
}
