.subject_board_detail_main_container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  padding: 100px 68px;
  background-color: #fff;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.student_subject_board_page_title {
  padding: 75px 0;
  font-size: 48px;
}

.student_subject_board_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5c8d89;
  padding: 35px 10px;
  align-items: center;
}

.student_subject_board_title {
  font-size: 36px;
  color: black;
}

/* 과목 게시글 내용 스타일 */
.student_subject_board_body_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  gap: 50px;
  font-size: 36px;
  border-bottom: 1px solid #5c8d89;
}

.subject_board_download_file_name {
  text-align: right;
  font-size: 28px;
}

.student_subject_board_content {
  font-size: 28px;
}

.student_subject_board_content_image {
  width: 100%;
  /* 임시 높이 */
  height: 500px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #5c8d8957;
}

.subject_board_main_title {
  margin-top: 50px;
}
