/* 메인 스타일 */
.main_container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  padding: 100px 68px;
  background-color: #fff;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid gray;
}

.lecture_type_image {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.lecutre_type_container {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #5c8d89;
  padding-bottom: 75px;
}

.lecture_description_box {
  padding: 0 75px;
}

.lecture_type_name {
  font-size: 48px;
  margin-bottom: 75px;
}

.lecture_type_description {
  font-size: 32px;
}

.board_container {
  display: flex;
  justify-content: flex-start;
  padding: 75px 0 75px 0;
  gap: 30px;
  border-bottom: 1px solid #5c8d89;
}

.inquiry_board_container,
.lecture_subject_board_container {
  width: 500px;
  height: 700px;
  gap: 30px;
}

.board_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board_title {
  font-size: 36px;
}

.go_to_show_more_page {
  font-size: 24px;
  cursor: pointer;
}

.inquiry_list_container,
.subject_list_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 599px;
  margin-top: 50px;
}

/* .inquiry_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

/* 과목 게시판 내부 */
.subject_list {
  width: 100%;
  height: 120px;
  border: 2px solid #74b49b;
  border-radius: 20px;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.subject_title_box {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.subject_title {
  margin: 0;
  padding: 0 5px;
}

.subject_content_box {
  display: flex;
  justify-content: space-between;
}

.subject_text_content {
  width: 216px;
  white-space: pre-wrap;
}

/* 질문 게시판  */

.inquiry_list {
  width: 100%;
  height: 120px;
  border: 2px solid #74b49b;
  border-radius: 20px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 0;
}

.inquiry_title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.inquiry_type {
  width: 64px;
  text-align: center;
  border: 2px solid #74b49b;
  background-color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 20px;
}

.inquiry_content_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inquiry_write_date {
  width: 60px;
  width: 92px;
}

.inquiry_subject_name {
  font-size: 20px;
}

.inquiry_list_title {
  width: 280px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.inquiry_text_content {
  width: 280px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 강의 영상  */
.lecture_list_container {
  width: 100%;
  height: 665px;
  padding: 75px 25px;
  display: flex;
  flex-direction: column;
}

.lecture_title_box {
  display: flex;
  height: 52px;
  justify-content: space-between;
}

.lecture_list_title {
  font-size: 48px;
  color: #5c8d89;
}

.button_box {
  width: 85px;
  display: flex;
  justify-content: space-between;
}

.non_style_button {
  border: none;
  background-color: transparent;
  font-size: 28px;
  font-weight: 700;
  color: #74b49b;
}

.non_style_button:hover {
  color: #5c8d89;
}

.lecture_video_container {
  width: 950px;
  height: 453px;
  margin: 50px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.lecture_video {
  width: 296px;
  height: 200px;
}

.lecture_video iframe {
  border-radius: 15px;
  border: none;
}

.video_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.show_not_open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  pointer-events: none;
}

.not-released-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: not-allowed;
}
