.student_dashboard_body {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  color: #74b49b;
  margin: 0 auto;
  justify-content: center;
}

/* 메인 스타일 */

.dashboard_main_container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  padding: 100px 36px;
  background-color: #fff;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

.page_title {
  font-size: 48px;
  padding: 0 0 50px 0;
  color: #74b49b;
}

.title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigate_button {
  cursor: pointer;
}

.show-more-button {
  font-size: 18px;
  cursor: pointer;
}

.divide_right_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.recent_lecture_container {
  width: 500px; /* 이전 620px */
  height: 370px;
  padding: 0.9375em;
  border: 0.0625em solid #74b49b;
  border-radius: 0.5em;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f4f9f4;
}

.components_title {
  font-size: 32px;
  font-weight: 700;
  color: #5c8d89;
}

.recent_contents_box {
  width: 100%;
  height: 13.75em;
  margin-bottom: 1.25em;
  border: 3px solid #74b49b;
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px;
  cursor: pointer;
}

.recent_lecture_type {
  font-size: 32px;
  margin-bottom: 35px;
}

.recent_video_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play_recent_video_icon {
  font-size: 50px;
  width: 50px;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
  color: #5c8d89;
}

.recent_lecture_video_title {
  font-size: 24px;
  margin: 0;
}

.recent_lecture_progress_container {
  width: 90px;
  height: 90px;
  position: relative;
}

.recent_lecture_percentage {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 27%;
  left: 19%;
}

.video_container h3 {
  color: #5c8d89;
}

/* 랜덤 영상과 보충 영상 스타일 */

.video_container {
  width: 500px;
  height: 660px;
  padding: 30px 30px 40px 30px;
  border: 1px solid #74b49b;
  border-radius: 0.5em;
  background-color: #f4f9f4;
  margin-bottom: 30px;
}

.random_video_box,
.lecture_video_box {
  /* width: 550px;
  height: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}

/* 질문 사항 영역 */
.question_container {
  /* width: 500px; */
  height: 350px;
  border-radius: 0.5em;
  border: 0.0625em solid #74b49b;
  background-color: #f4f9f4;
  margin: 30px 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question_list_container {
  /* width: 550px; */
}

.question_list {
  /* width: 100%; */
  height: 105px;
  border-radius: 1em;
  border: 3px solid #74b49b;
  background-color: #ffffff;
  padding: 1em;
  margin-top: 1em;
}

.question_type_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student_question_title {
  width: 200px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.question_type_tag {
  width: 88px;
  height: 32px;
  border-radius: 1em;
  border: 0.0625em solid #a7d7c5;
  padding: 2px 10px;
  text-align: center;
  background-color: #f4f9f4;
}

.question_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.6em;
}

.qusetion_subject_name {
  font-size: 1.2em;
}

.question_icon_box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.watch_icon {
  width: 18px;
}

.comment_icon {
  width: 18px;
}

/* 배지 컨테이터 스타일 */

.badge_container {
  /* width: 500px; */
  height: 200px;
  background-color: #f4f9f4;
  border: 0.0625em solid #74b49b;
  border-radius: 0.5em;
  padding: 1.3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.badge_list_box {
  display: flex;
  gap: 20px;
}

.badge_list {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #74b49b;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.badge_image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: 3%;
}

.go_to_badge_page {
  cursor: pointer;
}

/* 학생 메인페이지 오른쪽 스타일 */

.calander-container {
  width: 500px;
  background-color: #f4f9f4;
  border: 0.0625em solid #74b49b;
  border-radius: 0.5em;
  /* max-width: 500px; */
  height: 692px;
  text-align: center;
  padding: 1.875em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.calander {
  /* width: 100%; */
  height: 90%;
  border: 0.0625em solid #a7d7c5;
}

/*  과제 목록 스타일 */

.subject_container {
  margin: 1.3em 0;
  width: 500px;
  height: 540px;
  background-color: #f4f9f4;
  border: 1px solid #74b49b;
  border-radius: 10px;
  padding: 2em;
  margin-top: 30px;
}

.dashboard_subject_list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
  gap: 30px;
}

.dashboard_subject_list_box {
  width: 250px;
  height: 390px;
  padding: 22px 13px;
  border: 3px solid #74b49b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: white;
}

.list_box h3 {
  color: #74b49b;
}

.subject_name {
  margin-top: 1em;
  font-size: 1.1em;
  color: black;
  font-weight: 600;
}

.subject_description {
  padding: 2em 1em;
  color: rgb(108, 95, 95);
}

.subject_submit_button {
  color: white;
  background-color: #74b49b;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  cursor: pointer;
}

.show_subject_complete {
  font-size: 1.1em;
}

.addtional_info_box {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

.go_to_subject_page {
  cursor: pointer;
}

/* 공지사항 스타일 */
.notice_container {
  display: flex;
  justify-content: space-between;
  /* width: 500px; */
  margin-top: 30px;
}

.notice_container > * {
  width: 235px;
  /* 여기서 팍 죽네 흠 */
  height: 380px;
  background-color: #f4f9f4;
  border: 1px solid #74b49b;
  border-radius: 10px;
  padding: 34px 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin_notice_container {
  padding: 34px 17px;
}

.notice_components_title {
  font-size: 24px;
  margin-bottom: 20px;
}

.notice_list {
  width: 100%;
  height: 50px;
  border: 3px solid #74b49b;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin-bottom: 16px;
  padding: 10px 5px;
}

.notice_type {
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #74b49b;
  border-radius: 20px;
  background-color: #a7d7c52b;
  color: #74b49b;
}

.alert_notice {
  font-weight: 600;
  font-size: 16px;
  color: #ff0000;
}

.notice_title {
  color: black;
  font-size: 12px;
}

.notice_date {
  color: black;
  font-size: 8px;
}

.r {
  display: flex;
  justify-content: flex-end;
}

.go_to_teacher_notice_page,
.go_to_admin_notice_page {
  font-size: 16px;
  cursor: pointer;
}

/* 과제 제출용 모달창 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-content-student {
  background-color: #fefefe;
  width: 680px;
  height: 800px;
  margin: 12% auto;
  padding: 60px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  display: flex;
  flex-direction: row-reverse;
  color: #5c8d89;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_title {
  text-align: center;
  font-size: 40px;
}

.modal_form_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 16px;
  justify-content: space-around;
}

.modal_content_tag,
.modal_name_tag,
.modal_file_tag {
  font-size: 32px;
  margin-bottom: 20px;
}

.modal_input_title {
  width: 100%;
  border-radius: 20px;
  height: 48px;
  border: 2px solid #74b49b;
  margin-bottom: 16px;
  font-size: 24px;
  padding: 0 20px;
}

.modal_input_content {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  border: 2px solid #74b49b;
  margin-bottom: 16px;
  padding: 20px;
  font-size: 20px;
  white-space: pre;
  overflow: hidden;
}

.modal_file_label {
  width: 100%;
  margin-bottom: 16px;
}

.modal_file_input_wrapper {
  display: flex;
  align-items: center;
}

.modal_input_file_display {
  flex: 1;
  padding: 8px;
  border: 2px solid #74b49b;
  border-radius: 20px;
  height: 48px;
  margin-right: 16px;
}

.modal_file_button {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid #74b49b;
  border-radius: 10px;
  background-color: rgba(210, 218, 255, 0.25);
  cursor: pointer;
  height: 48px;
  line-height: 10px;
  font-size: 24px;
}

.modal_file_button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.modal_submit_button_box {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 36px 0;
}

.modal_submit_button {
  width: 160px;
  height: 50px;
  border: 2px solid #5c8d89;
  border-radius: 16px;
  color: white;
  background-color: #5c8d89;
}

.modal_cancel_button {
  width: 160px;
  height: 48px;
  border: 2px solid #74b49b;
  border-radius: 16px;
  color: #5c8d89;
  background-color: rgba(210, 218, 255, 0.25);
}
