/* .subject_lecture_list_body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #f5f5f5;
  color: #74b49b;
} */

/* 메인 스타일 */
.subject_lecture_list_main_container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  padding: 100px 36px;
  background-color: #fff;
}

.subject_lecture_list_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}

.subject_lecture_list_page_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5c8d89;
}

.subject_lecture_list_page_title {
  font-size: 48px;
  padding-bottom: 75px;
}

/* select box */
.subject_lecture_select_box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="green" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 10px center;
  padding: 10px 40px 10px 20px;
  font-size: 16px;
  width: 260px;
  height: 48px;
  border-radius: 20px;
}

.subject_lecture_select_box:focus {
  border-color: #5c8d89;
  outline: none;
}

.subject_lecture_select_box option {
  background-color: #fff;
  color: #333;
  padding: 10px;
}

/*  */
.subject_lecture_list_container {
  padding: 0px 0;
  margin: 40px auto;
}

.subject_lecture_list_content {
  width: 300px;
  height: 260px;
}

.subject_lecture_list_image {
  width: 300px;
  height: 190px;
  border-radius: 20px;
  cursor: pointer;
}

.subject_lecture_list_title {
  font-size: 18px;
  padding: 16px 0 0 0;
  cursor: pointer;
}

.subject_lecture_list_title:hover {
  color: #5c8d89;
  font-weight: 700;
}

.subject_lecture_list_description {
  font-size: 14px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
