/* 메인 스타일 */
.student_assignment_main_container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  padding: 100px 68px;
  background-color: #fff;
}

.student_assignment_page_title {
  font-size: 48px;
  margin-bottom: 75px;
}

/* 진행중인 과제  */
.current_proceeding_assignment_container {
  width: 1050px;
  height: 500px;
  border: 1px solid #5c8d89;
  border-radius: 20px;
  box-shadow: 0.125em 0 0.3125em rgba(0, 0, 0, 0.2);
  padding: 40px;
  background-color: rgba(167, 215, 197, 0.25);
  display: flex;
  flex-direction: column;
}

.current_proceeding_assignment_title_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.current_proceeding_assignment_box_name {
  color: #5c8d89;
  font-size: 32px;
}

.controll_box_with_both_side {
  display: flex;
  justify-content: space-between;
  width: 82px;
  height: 28px;
  align-items: center;
  color: #5c8d89;
}
.Right_and_left_button,
.Right_and_left_button {
  font-size: 28px;
  cursor: pointer;
  border-radius: 50%;
}

.Right_and_left_button:hover,
.Right_and_left_button:hover {
  font-size: 32px;
}

.Right_and_left_button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* 진행 중인 과제 내용 */
.current_proceeding_assignment_contents_container {
  width: 100%;
  height: 460px;
  margin: 0 auto;
  border: 3px solid #a7d7c5;
  border-radius: 20px;
  padding: 36px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.current_proceeding_assignment_contents_title_box {
  display: flex;
  justify-content: space-between;
}

.current_proceeding_assignment_contents_title {
  font-size: 36px;
}

.go_to_proceeding_assignment_page {
  color: #5c8d89;
  font-size: 24px;
  cursor: pointer;
}

.current_proceeding_assignment_contents {
  font-size: 24px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current_proceeding_assignment_contents_additional_data_box {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.geen_text {
  color: #5c8d89;
}

/* 마감된 과제 컨테이너 */
.closed_assignment_container {
  margin-top: 32px;
  width: 1050px;
  height: 1450px;
  gap: 32px;
  border: 1px solid #5c8d89;
  border-radius: 20px;
  box-shadow: 0.125em 0 0.3125em rgba(0, 0, 0, 0.2);
  padding: 45px;
  background-color: rgba(167, 215, 197, 0.25);
  display: flex;
  flex-direction: column;
}

.closed_assignment_title_box {
  display: flex;
  justify-content: space-between;
}

.closed_assignment_box_name {
  color: #5c8d89;
  font-size: 32px;
}

.controll_box_with_both_side {
  display: flex;
  justify-content: space-between;
  width: 82px;
  height: 28px;
  align-items: center;
  color: #5c8d89;
}
.Right_and_left_button,
.Right_and_left_button {
  font-size: 28px;
  cursor: pointer;
  border-radius: 50%;
}

.Right_and_left_button:hover,
.Right_and_left_button:hover {
  font-size: 32px;
  /* background-color: #f5f5f5; */
}

/* 마감된 과제 리스트들  */
.closed_assignment_contents_container {
  height: 460px;
  margin: 0 auto;
  border: 3px solid #a7d7c5;
  border-radius: 20px;
  padding: 36px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.closed_assignment_contents_title_box {
  display: flex;
  justify-content: space-between;
}

.closed_assignment_contents_title {
  font-size: 36px;
}

.go_to_closed_assignment_page {
  color: #5c8d89;
  font-size: 24px;
  cursor: pointer;
}

.closed_assignment_contents {
  font-size: 24px;
}

.closed_assignment_contents_additional_data_box {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.geen_text {
  color: #5c8d89;
}
