.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  bottom: 0;
}

.date-container {
  margin-bottom: 20px;
}

.date {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.sidebar h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu li {
  margin-bottom: 20px; /* 간격을 넓게 */
  cursor: pointer;
  font-size: 18px;
  color: #555;
  padding: 10px 10px; /* 패딩을 추가하여 간격 넓히기 */
  width: 100%;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: #e0e0e0;
}

.dropdown .dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-arrow {
  font-size: 12px;
  margin-left: 5px;
  transition: transform 0.3s ease; /* 애니메이션 효과 추가 */
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.submenu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 5px;
  max-height: 0; /* 초기 상태에서 높이를 0으로 설정 */
  overflow: hidden; /* 넘치는 내용을 숨김 */
  transition: max-height 0.3s ease; /* 애니메이션 효과 추가 */
}

.submenu.open {
  max-height: 100px; /* 열릴 때 최대 높이 설정 (필요에 따라 조정 가능) */
}

.submenu li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #777;
  padding: 5px 0;
}

.submenu li:hover {
  color: #000;
}
